@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
}

p {
  font-family: "Poppins", sans-serif;
}

.slim-scroll::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 5px;
}

.slim-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.slim-scroll::-webkit-scrollbar-thumb {
  background-color: #1bb68a; /* Thumb color */
  border-radius: 1px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.folded-rectangle {
  --r: 44px;

  width: 450px;
  height: 300px;

  aspect-ratio: 1.5;
  background: #ecf7ff;
  border-radius: var(--r) 0 / calc(2 * var(--r)) 0;
  padding-block: var(--r);
  --_m: #0000 100%, #000 calc(100% + 1px);
  mask: conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 0 0, var(--_m)) 100% 0 no-repeat;
  mask-size: var(--r) var(--r);

  transform: scaleX(-1);
}

.custom-rate .ant-rate-star-full {
  color: #ffa703 !important;
}

.custom-rate .ant-rate-star-half {
  color: #ffa703 !important;
}

.custom-ant-select .ant-select-selection-placeholder {
  color: #646464 !important;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.6;
}

.custom-ant-select .ant-select-selector {
  background-color: #f9f9f9 !important;
  border-radius: 6px !important;
  height: 46px !important;
  display: flex;
  align-items: center;
}

/* Optional: Prevent background from changing on hover/focus */
.custom-ant-select.ant-select-focused .ant-select-selector,
.custom-ant-select:hover .ant-select-selector {
  background-color: #f9f9f9 !important;
}

body {
  top: 0 !important;
  position: static !important;
}

body .skiptranslate {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  visibility: hidden !important;
  height: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #0f0f0f !important;
  opacity: 0.7 !important;
  padding-left: 5px;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  visibility: hidden !important;
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  visibility: hidden !important;
  display: none !important;
}
